:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
  }

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      list-style: none;
      font-family: 'Montserrat', sans-serif;
  }
  body {
    background-color: var(--body-background);
  }
  .header-menu-navegation {
      height: 85vh;
      background-image: url(/assets/img/background.png);
      background-size: cover;
  }
  .menu-navegation {
      max-width: 1140px;
      padding: 20px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
  }
  .menu-navegation-list {
      display: flex;
      align-items: center;
      gap: 3rem;
  }

  .menu-navegation-list li {
      color: var(--text-color);
  }

#logo-metaMask {
    display: flex;
    width: 20%;
    justify-content: center;
    background-color: var(--text-color);
    padding: 5px;
}

#logo-metaMask button {
    cursor: pointer;
    border: none;
    font-weight: 700;
    padding: 6px;
    font-size: 0.75em;
    background-color: var(--text-color);
}
.div-container-header {
    transform: translatey(30%);
    display: flex;
    max-width: 1140px;
    align-items: center;
    margin: 0 auto;
}
.div-container-header-son {
    flex-basis: 33%;
}
.div-container-header-text {
    color: var(--text-color);
    width: 90%;
}
.div-container-header-son .text-nfts {
    color: var(--color-logo);
    padding-top: 15%;
    font-size: 1.2em;
}
.div-container-header-son h2 {
    font-size: 2em;
    color: var(--text-color);
}
.div-container-header-img {
    margin-top: 10%;
    display: flex;
    align-items: flex-end;
}
.div-container-header-img p {
    color: var(--text-color);
}

/*div-container-header-section*/
.div-container-header-section {
    transform: translatey(45%);
    max-width: 1140px;
    padding: 5px;
    margin: 0 auto;
}
.div-container-section {
    display: flex;
    flex-wrap: wrap;
}
.div-container-section img {
    height: 150px;
    flex-basis: 22%;
    margin: 5px;
    border: 1px solid var(--subtitle-color);
}

/*main-container*/
.main-container {
    height: 90vh;
}
.main-container-section {
    display: flex;
}
.main-container-article {
    border: 1px solid var(--card-color);
    padding: 40px;
    border-top: none;
    border-left: none;
    width: 42%;
    height: 50vh;
    color: var(--text-color);
}
.main-container-article-ul {
    transform: translateX(70%);
    margin-top: 14%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}
.main-container-article-ul span {
    font-size: 2.3em;
    font-weight: 700;
}
.main-container-article-ul p {
    font-size: 13px;
    font-weight: 400;
    color: var(--subtitle-color);
}
.main-container-article-two {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.main-container-article-two img {
    width: 100%; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    align-self: flex-end;
}
.main-container-div-two {
    flex-basis: 22%;
    align-self: center;
    margin-right: 5%;
    margin-left: 5%;
} 
.main-container-div-two span {
    color: var(--color-logo);
}
.main-container-div-two p {
    font-size: 0.85em;
    margin-top: 5%;
    color: var(--text-color);
}
.main-container-div-two a {
    position: relative;
    top: 50px;
    color: var(--text-color);
}

/*third session*/
.main-title {
    margin-top: 7%;
    margin-left: 20%;
    font-size: 2.2em;
    color: var(--text-color);
}
.main-title span {
    color: var(--color-logo);
}
.container-article-two {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
    width: 80%;
    margin: 0 auto;
    margin-top: 6%; 
}
.container-div-two {
    flex-basis: 50%;
}
.container-div {
    display: flex;
    width: 50%;
    margin-top: 3%;
    justify-content: space-between;
}

.container-article-two img:nth-child(3) {
    margin-top: 2%;
    height: 165px;
}
.container-article-two h2 {
    font-size: 1.8em;
    color: var(--text-color);
}
.container-article-two p {
    color: var(--subtitle-color);
}
.container-article-two span {
    color: var(--color-logo);
}
.container-div img {
    width: 15px;
}
.container-div span {
    font-weight: 700;
}
.container-div p {
    font-weight: 600;
}

/* Container caixa principal */
.container-caixa-principal {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 7%;
}
.container-caixa-principal .titulo-container {
    font-size: 2.7em;
    text-align: center;
    color: var(--text-color);
}
.container-caixa-principal .titulo-container span {
    color: var(--color-logo);
}
.article-caixa-principal { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
}
.caixa-principal {
    display: flex;
    align-items: center;
    padding: 25px;
    width: 25%;
    margin: 20px;
    border: 1px solid var(--card-color);
    background-color: var(--card-color);
}
.caixa-principal .sub-caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}
.caixa-principal .sub-caixa h2 {
    padding: 10px;
}
.caixa-principal .sub-caixa p {
    padding: 10px;
}
.caixa-principal img {
    height: 80px;
}

.caixa-principal h2 {
    font-size: 0.95em;
    color: var(--text-color);
}
.caixa-principal p {
    font-weight: 700;
    color: var(--color-logo);
}
#caixa-principal-laranja {
    display: flex;
    align-items: center;
    padding: 25px;
    width: 25%;
    margin: 20px;
    border: 1px solid var(--color-logo);
    background-color: var(--color-logo);
    color: var(--text-color);
}
#caixa-principal-laranja .sub-caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}
#caixa-principal-laranja .sub-caixa h2 {
    padding: 10px;
}
#caixa-principal-laranja .sub-caixa span {
    padding: 10px;
}

#caixa-principal-laranja .sub-caixa {
    margin-left: 9%;
}

#caixa-principal-laranja img {
    height: 80px;
}

#caixa-principal-laranja h2 {
    font-size: 0.95em;
}
#caixa-principal-laranja span {
    font-weight: 700;
}

.texto-artista {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 1.4em;
    color: var(--text-color);
}

.texto-artista img {
    margin-left: 1%;
}

/* container-footer */

.container-footer {
    background-color: var(--card-color);
}
.article-primeiro {
    display: flex;
    width: 1340px;
    margin: 0 auto;
    padding-top: 5%;
    justify-content: space-between;
}
.article-primeiro .borde-orange {
    border: 1px solid var(--color-logo);
    background-color: var(--color-logo);
    padding: 20px;
}
.article-segundo {
    margin-top: 5%;
    display: flex;
    border: 1px solid var(--subtitle-color);
}
.article-segundo-div {
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 30%;
    border: 1px solid var(--subtitle-color);
}
.article-segundo-div .form-nft {
    display: flex;
}
.article-segundo-div .form-nft input {
    padding: 10px;
    border: none;
    position: relative;
    left: 42%;
    top: 40%;
    background-color: var(--black-text);
}
.article-segundo-div .form-nft button {
    color: var(--black-text);
    position: relative;
    left: 42%;
    top: 40%;
    width: 20%;
    font-weight: 700;
    padding: 10px;
}
.article-segundo-div h2 {
    position: relative;
    left: 42%;
    width: 70%;
    color: var(--text-color);
}
.article-segundo-div span {
    color: var(--color-logo);
}
.list-ul {
    margin-left: 5%;
    margin-top: 2%;
    flex-basis: 10%;
    padding: 20px;
}
.list-ul a {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    margin-left: 7%;
}

.list-ul li {
    padding: 10px;
    color: var(--subtitle-color);
}

/* footer */

footer {
    padding: 2%;
    justify-content: space-around;
    display: flex;
    background-color: var(--card-color);
}
.link-rocketseat a {
    color: var(--subtitle-color);
    font-weight: 600;
    text-decoration: none;
}
.list-icons-redes-socias {
    display: flex;
    gap: 3rem;
}